html, body {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
#page-container {
  width: 760px;
  margin: auto;
}
#main-nav {
  background: red;
  height: 50px;
}
#header {
 background: blue;
 height: 150px;
}
#sidebar-a {
  background: darkgreen;
  float: right;
  width: 280px;
}
#content {
  background: green;
  margin-right: 280px;
}
#footer {
  background: orange;
  height: 66px;
  clear: both;
}
